*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;

  color: #2a2a2a;
  line-height: 1.5;
  background-color: rgb(188, 253, 248);
  padding-top: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
